/*----------------------------------------------------------------------------*/
/* GLOBAL --------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {background-color: var(--dark);}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;800&display=swap');

html {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4 {font-weight: 800; color: var(--white);}
h1 {font-size: 2rem; line-height: 125%;}
h2 {font-size: 1.5rem;}
h3 {font-size: 1.125rem;}

p {font-weight: 200; font-size: 1rem; color: var(--grey); line-height: 167%;}


/* COLORS */
:root {
  --light-blue: #3EE9E5;
  --dark-blue: #093F68;
  --grey: #777F98;
  --white: #FFF;
  --dark: #080C20;
  --red: #FF2965;
}


/* TEXT FIELDS  */
.text-field {
  background-color: var(--dark-blue);

  font-family: inherit;
  font-size: 1rem;
  font-weight: 800;
  color: var(--white);

  padding: .75rem 0 .75rem 1.125rem;
  width: 20rem;

  border-radius: 1.5rem;
  border: none;
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--white);
  opacity: 0.4; 
  font-weight: 800; 
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--white);
  opacity: 0.4; 
  font-weight: 800;
}

.text-field:focus  {
  border: .125rem solid var(--light-blue);
  transition: .1s;
}

.text-field-error {
  border: .125rem solid var(--red);
}


/* BUTTONS */
button {
  background-color: var(--light-blue);
  cursor: pointer;
  
  font-family: inherit;
  font-size: 1rem;
  font-weight: 800;
  color: var(--dark-blue);

  padding: .75rem 1.125rem;
  
  border-radius: 1.5rem;
  border: none;
  outline: none;
}

button:active {
  transform: scale(.9);
}

@media (hover: hover) and (pointer: fine) {
  button:hover, button:focus  {
    background-color: var(--dark);
    color: var(--white);
    border: .125rem solid var(--light-blue);
    transition: border .1s, background-color .3s;
  }
}



/*----------------------------------------------------------------------------*/
/* HEADER + BANNER -----------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

header {
  display: flex;
  justify-content: center;
  padding: 2.5rem 0 4.125rem;
}

.banner-mobile {
  overflow: hidden;
  margin-bottom: 2.8125rem;
}

.banner-mobile img {
  display: block;
  width: 110%;
}

/* non-mobile devices only */
.banner-left, .banner-right {display: none;}

.banner-content {
  margin: 0 6% 9rem;
}

.banner h1 {
  text-align: center;
  padding: 0 12%;
  margin-bottom: 1.8125rem;
}

.banner h1 span {
  color: var(--light-blue);
}

.banner p {
  text-align: center;
  margin-bottom: 2.5rem;
}

.icon {
  display: block;
  margin: 0 auto;
}

/*----------------------------------------------------------------------------*/
/* FEATURES ------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

.features {
  text-align: center;
  margin: 0 6%;
}

.feature {
  margin-bottom: 3.5rem;
}

.feature:last-child {
  margin-bottom: 0;
}

.icon-container {
  margin-bottom: 3.375rem;
  background-color: var(--dark-blue);

  width: 7.5rem;
  height: 7.75rem;

  margin: 0 auto 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 2.8125rem;
}

.icon-container img {
  display: block;
}

.passions-img {width: 4.125rem; height: 5rem;}
.freedom-img {width: 3.5rem; height: 4.1875rem;}
.lifestyle-img {width: 3.75rem; height: 4.4375rem;}
.work-img {width: 4.875rem; height: 3.5rem;}

.feature h3 {
  margin-bottom: .75rem;
}


/*----------------------------------------------------------------------------*/
/* PRICING -------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------*/
/* FOOTER --------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/     