/*----------------------------------------------------------------------------*/
/* GLOBAL --------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {background-color: var(--dark);}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;800&display=swap');

html {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4 {font-weight: 800; color: var(--white);}
h1 {font-size: 2rem; line-height: 125%;}
h2 {font-size: 1.5rem;}
h3 {font-size: 1.125rem;}

p {font-weight: 200; font-size: 1rem; color: var(--grey); line-height: 167%;}


/* COLORS */
:root {
  --light-blue: #3EE9E5;
  --dark-blue: #093F68;
  --grey: #777F98;
  --white: #FFF;
  --dark: #080C20;
  --red: #FF2965;
}


/* TEXT FIELDS  */
.text-field {
  background-color: var(--dark-blue);

  font-family: inherit;
  font-size: 1rem;
  font-weight: 800;
  color: var(--white);

  padding: .75rem 1.125rem;
  width: 87%;

  border-radius: 1.5rem;
  border: none;
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--white);
  opacity: 0.4; 
  font-weight: 800; 
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--white);
  opacity: 0.4; 
  font-weight: 800;
}

.text-field-verified {
  border: .125rem solid var(--light-blue);
  transition: .1s;
}

.text-field-error {
  border: .125rem solid var(--red);
}

.error-text {
  display: none;
  margin-top: .5rem;
  color: var(--red);
}


/* BUTTONS */
button {
  background-color: var(--light-blue);
  cursor: pointer;
  
  font-family: inherit;
  font-size: 1rem;
  font-weight: 800;
  color: var(--dark-blue);

  padding: 1rem;
  width: 87%;
  
  border-radius: 1.5rem;
  border: none;
  outline: none;
}

button:active {
  transform: scale(.9);
  transition: .3s;
}

@media (hover: hover) and (pointer: fine) {
  button:hover, button:focus  {
    background-color: var(--dark);
    color: var(--white);
    border: .125rem solid var(--light-blue);
    transition: border .1s, background-color .3s;
  }
}



/*----------------------------------------------------------------------------*/
/* HEADER + BANNER -----------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

header {
  display: flex;
  justify-content: center;
  padding: 2.5rem 0 4.125rem;
}

.banner-mobile {
  overflow: hidden;
  margin-bottom: 2.8125rem;
}

.banner-mobile img {
  display: block;
  width: 110%;
}

/* non-mobile devices only */
.banner-left, .banner-right {display: none;}

.banner-content {
  margin: 0 6% 9rem;
}

.banner h1 {
  text-align: center;
  padding: 0 12%;
  margin-bottom: 1.8125rem;
}

.banner h1 span {
  color: var(--light-blue);
}

.banner p {
  text-align: center;
  margin-bottom: 2.5rem;
}

.icon {
  display: block;
  margin: 0 auto;
}

/*----------------------------------------------------------------------------*/
/* FEATURES ------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

.features {
  text-align: center;
  margin: 0 auto 9rem;
  width: 87%;
  max-width: 27.75rem;
}

.feature {
  margin-bottom: 3.5rem;
}

.feature:last-child {
  margin-bottom: 0;
}

.icon-container {
  margin-bottom: 3.375rem;
  background-color: var(--dark-blue);

  width: 7.5rem;
  height: 7.75rem;

  margin: 0 auto 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 2.8125rem;
}

.icon-container img {
  display: block;
}

.passions-img {width: 4.125rem; height: 5rem;}
.freedom-img {width: 3.5rem; height: 4.1875rem;}
.lifestyle-img {width: 3.75rem; height: 4.4375rem;}
.work-img {width: 4.875rem; height: 3.5rem;}

.feature h3 {
  margin-bottom: .75rem;
}


/*----------------------------------------------------------------------------*/
/* PRICING -------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

.pricing {
  margin: 0 auto;
  color: var(--white);
  width: 87%;
  max-width: 37.5rem;
}

.pricing h2 {
  text-align: center;
  margin-bottom: 1.6875rem;
}

.pricing p {
  text-align: center;
}


.option-free {
  margin: 5rem auto 4rem;
  background-color: var(--dark-blue);
  padding: 3.125rem 1.875rem 2rem;
  border-radius: .5rem;
  text-align: left;
  position: relative;
  max-width: 27.75rem;
}

.option-free img {
  position: absolute;
  top: 0;
  left: 1.875rem;
  top: -1.4375rem;
}

.option-free h3 {
  margin-bottom: 1.25rem;
}

.option-free p {
  text-align: left;
  color: var(--white);
  opacity: .6;
  mix-blend-mode: normal;
  margin-bottom: 3.125rem;
}

.option-free .price {
  font-size: 2.5rem;
  opacity: 1;
  margin-bottom: 1.25rem;
  line-height: normal;
  font-weight: 800;
}

.option-free ul {
  list-style: none;
}

.option-free li {
  margin-bottom: 1rem;
  font-weight: 200;
}

.option-free li:last-child {
  margin-bottom: 0;
}

.check {
  color: var(--light-blue);
  margin-right: 1rem;
}


.option-premium {
  background-color: var(--light-blue);
  padding: 4rem 1.875rem 2rem;
  border-radius: .5rem;
  text-align: left;
  position: relative;
  margin: 0 auto 9rem;
  max-width: 27.75rem;
}

.option-premium img {
  position: absolute;
  top: 0;
  left: 1.875rem;
  top: -2rem;
}

.option-premium h3 {
  margin-bottom: 1.25rem;
  color: #000;
}

.option-premium p {
  text-align: left;
  margin-bottom: 3.125rem;
  color: var(--dark);
  opacity: .6;
}

.option-premium .price {
  font-size: 2.5rem;
  opacity: 1;
  margin-bottom: 1.25rem;
  line-height: normal;
  font-weight: 800;
  display: flex;
  align-items: center;
}

.option-premium .price span {
  font-size: 1rem;
  color: var(--dark);
  margin-left: .75rem;
  opacity: .6;
  font-weight: 200;
}

.option-premium ul {
  list-style: none;
}

.option-premium li {
  margin-bottom: 1rem;
  font-weight: 200;
  color: var(--dark);
}

.option-premium li:last-child {
  margin-bottom: 0;
}

.option-premium .check {
  color: inherit;
  margin-right: 1rem;
}


/*----------------------------------------------------------------------------*/
/* FOOTER --------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

footer {
  text-align: center;
  position: relative;
  overflow: hidden;

  background-image: url('./assets/bg-footer-squiggle.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

footer h2 {
  padding: 0 20%;
  line-height: 2.25rem;
  margin-bottom: 1.875rem;
}

footer form {
  max-width: 27.75rem;
  margin: 0 auto 10.25rem;
}

footer form input {
  margin-bottom: 1.5rem;
}



/*----------------------------------------------------------------------------*/
/* MEDIA QUERIES -------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/


/* TABLET */ 
@media only screen and (min-width: 768px) {
  
  /* HEADER + BANNER ---------------------------------------------------------*/
  header {
    display: block;
    padding: 3rem 2.5rem 4.75rem;
  }

  .banner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 22.25rem;
    margin-bottom: 6.875rem;
  }

  .banner-mobile {display: none;}
  .banner-left, .banner-right {
    display: block;
    position: relative;
    width: 20%;
    overflow: hidden;
  }

  .banner-left img {
    height: 100%;
    position: absolute;
    left: -10.625rem;
  }

  .banner-right img {
    height: 100%;
    position: absolute;
    right: -10.625rem;
  }

  .banner-content {
    margin: auto 0;
    width: 55%;
    height: 90%;
    background-image: url("./assets/bg-hero-squiggle.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .banner h1 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  .banner p {
    margin-bottom: 2rem;
  }



  /* FEATURES ------------------------------------------------------------*/
  .features {
    text-align: left;
    margin: 0 auto 9rem;
    max-width: 37.5rem;
  }

  .feature {
    margin-bottom: 3.5rem;
    display: flex;
    align-items: center;
  }

  .feature:nth-child(odd) {
    margin-left: 3.625rem;
  }

  .feature:nth-child(even) {
    margin-right: 3.625rem;
  }

  .feature:last-child {
    margin-bottom: 0;
  }

  .icon-container {
    margin: 0;
    margin-right: 3.5rem;
    flex-shrink: 0;
  }



  /* FOOTER ---------------------------------------------------------------*/
  footer form {
    margin: 0 auto 7.5rem;
    max-width: 30rem;
    display: flex;
    justify-content: space-around;
    height: 3rem;
  }
  
  footer .text-field {
    margin-bottom: 1.5rem;
    height: 100%;
    width: 20rem;
  }

  footer form button {
    width: 8.75rem;
  }
}






/* LARGE DISPLAY */ 
@media only screen and (min-width: 1200px) {
  /* HEADER + BANNER ---------------------------------------------------------*/
  header {
    display: block;
    padding: 5rem 10rem 7.125rem;
  }

  .banner {
    height: 28.75rem;
    margin-bottom: 12.625rem;
  }

  .banner-left {
    width: 28.3%;
  }

  .banner-right {
    width: 27.5%;
  }

  .banner-left img {
    left: -3.25rem;
  }

  .banner-right img {
    right: -3.75rem;
  }

  .banner h1 {
    margin-top: 5.5rem;
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  .banner p {
    margin-bottom: 4rem;
    padding: 0 6rem;
  }


  /* FEATURES  ---------------------------------------------------------------*/
  .features {
    margin: 0 auto 12.5rem;
    min-width: 70rem;

    display: flex;
    justify-content: space-around;
  }

  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 0;
    width: 16rem;
  }

  .feature h3 {
    margin: 3rem 0 1.5rem;
  }

  .feature:nth-child(odd) {
    margin: 0;
    margin-bottom: 3rem;
  }

  .feature:nth-child(even) {
    margin: 0;
    margin-top: 3rem;
  }

  .feature:last-child {
    margin-bottom: 0;
  }

  .icon-container {
    margin: 0;
    margin-right: auto;

    width: 10rem;
    height: 10.25rem;
  }
  
  .passions-img {width: 5.5rem; height: 6.625rem;}
  .freedom-img {width: 4.625rem; height: 5.625rem;}
  .lifestyle-img {width: 5rem; height: 5.875rem;}
  .work-img {width: 6.5rem; height: 4.625rem;}
}